@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html,
   body,
   div,
   span,
   applet,
   object,
   iframe,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   blockquote,
   pre,
   a,
   abbr,
   acronym,
   address,
   big,
   cite,
   code,
   del,
   dfn,
   em,
   img,
   ins,
   kbd,
   q,
   s,
   samp,
   small,
   strike,
   strong,
   sub,
   sup,
   tt,
   var,
   b,
   u,
   i,
   center,
   dl,
   dt,
   dd,
   ol,
   ul,
   li,
   fieldset,
   form,
   label,
   legend,
   table,
   caption,
   tbody,
   tfoot,
   thead,
   tr,
   th,
   td,
   article,
   aside,
   canvas,
   details,
   embed,
   figure,
   figcaption,
   footer,
   header,
   hgroup,
   menu,
   nav,
   output,
   ruby,
   section,
   summary,
   time,
   mark,
   audio,
   video {
   	padding: 0;
   	margin: 0;

   	font: inherit;
   	font-size: 100%;

   	vertical-align: baseline;

   	border: 0;
   }

   /* HTML5 display-role reset for older browsers */
   article,
   aside,
   details,
   figcaption,
   figure,
   footer,
   header,
   hgroup,
   menu,
   nav,
   section {
   	display: block;
   }

   /* Force scrollbar */
   html {
   	overflow-y: scroll;
   }

   /* Align radios and text inputs with their label */

   input[type="radio"] {
   	vertical-align: text-bottom;
   }

   /* Hand cursor on clickable input elements */
   label,
   input[type="button"],
   input[type="submit"],
   button 
   a {
   	cursor: pointer;
   }

   strong {
   	font-family: inherit;
   	font-size: inherit;
   	font-weight: bold;
   }

   em {
   	font-style: italic;
   }

   img {
   	vertical-align: middle;

   	border: 0;
   }

   sub,
   sup {
   	position: relative;

   	font-size: 55%;
   	line-height: 0;

   	vertical-align: baseline;
   }

   sup {
   	top: -.7em;
   }

   sub {
   	bottom: -.25em;
   }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
	display: table;

	content: " ";
}

.cf:after {
	clear: both;
}

/*.cf {
	*zoom: 1;
}*/

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
 	font-family: "Futura Bold", "Gill Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
 	font-style: normal;
 	font-weight: bold;
 }

 
/*my styling*/


.wrapper {
	width: 96%;
	max-width: 1500px;
	margin: 0 auto;
}
$font : Lato, sans-serif;
$white: #fff;
$blue: #005AA0;
$header-color:#484848;
$paragraph-color: #6D6D6D;

/*header styling*//*header styling*//*header styling*//*header styling*/


header {
	h1 {
		float:left;

		a{
			display: inline-block;
		}
	}
	.search {
		margin-top: 2%;
    float: right;
	}
	input[type="text"]{
    width: 250px;
    padding:8px 8px 8px 10px;
    border: 2px solid #b2bab2;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  input[type="text"]::placeholder{
    font: 14px $font;
  }
  input[type="text"]:focus{
    border: 2px solid $blue;
    transition: border 0.5s;
  }
  input[type="submit"]{
    padding: 8px 15px;
    margin-left: -4px;
    border-radius: 0 5px 5px 0;
    background-color:$blue;
    color: #fff;
    font: 14px $font;
    text-transform: uppercase;
  }
  input[type="submit"]:hover{
    background-color: #4caf50;
  }
	.navigation {
    background-color:$blue;
  }
  .navigation-flex {
    display:flex;
    justify-content: space-between;
  }

  nav {
    li {
      float:left;
      list-style-type: none;
      a {
        padding: 21px 25px;
        display:inline-block;
        color: $white;
        font: 800 16px $font; 
        text-transform: uppercase;
        text-decoration: none;
        
        &:hover{
          background-color:$white;
          box-shadow: 1px 1px 2px 1px $paragraph-color;
          color: $blue;
          transition: all 0.5s ease;
        }
      }
    }    
  }
  .social-header {
    li {
      float: left;
      list-style-type: none;
        
      a {
        padding: 18px 15px;
        display: inline-block;
        &:hover {
          transform: scale(1.5);
         transition: all 0.5s ease;
        }
      }
    }
  }
  .fa {
    font-size: 24px;
    color: $white;
  }
}

/*main styling*//*main styling*//*main styling*//*main styling*/
main {
  margin-top: 50px;
}

/*gameweek*/
.gameweek-holder {
  width: 15%;
  float: left;
}
.gameweek {

  h3 {
    width: 59%;
    border-bottom: 4px solid #000;
    margin-bottom: 10px;
    font: 20px $font;
    text-transform: uppercase;
  }
  li {
    margin-bottom: 10px;
    list-style-type: none;
    
    a {
      padding: 12px 0 12px 7px;
      border-radius: 3px;
      display: block;
      background-color:#919191;
      color: #000;
      font: 400 14px $font;
      text-decoration: none;
      text-transform: uppercase;
        &:hover {
          background-color:#B6B6B6;
        transition: all 0.5s ease; 
      
      }

    }
  }
}
/*content*/
.content{
  width: 70%;
  float:left;
  img {
    width: 100%;
    height: auto;
  }
  .separator {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #000;
  }

  .rows:after{
    content: "";
    clear: both;
    display: table;
  }

  .half-column {
    box-sizing: border-box;
    width: 50%;
    padding: 3%;
    float: left;
    p {
      color: $paragraph-color;
      font: 16px $font;
      a {
        width: 20%;
        padding: 10px;
        margin-top: 10px;
        display: block;
        background-color: $blue;
        color: $white;
        font: 16px $font;
        text-decoration: none;
      }
    }
    a{
      display:inline-block;
      &:hover {
        opacity: 0.6;
        transition: opacity 1s ease;
      }
    }
    h2 {
      padding: 2% 0 2%;
      font: 24px $font;
      a{
        color: $header-color;
        text-decoration: none;

      }
    }
  }
}
.advertisement {
  width: 15%;
  float: left;
}

/*post styling*/

.post {
  padding: 0 3%;
  
  img {
    width: 500px  ;
     height: 500px;
     display: block;
  }
  h2 {
    font: 24px $font;
    margin-bottom: 30px;
    text-decoration: underline;
    font-weight: bold;

  }
  h3 {
    font: 20px $font;
    margin: 20px 0;
    font-weight: bold;
  }
  p {
    font: 16px $font;
    margin: 20px 0;
  }
  p:last-child {
    margin-bottom: 100px;
  }
}